annotated-doc
annotated-types
anyio
click
exceptiongroup
fastapi
h11
idna
joblib
numpy
pandas
psycopg2-binary
pydantic
pydantic_core
python-dateutil
python-multipart
pytz
scikit-learn
scipy
six
SQLAlchemy
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
python-dotenv
xgboost>=2.0.0
lightgbm>=4.0.0
